label {
  font-size: 18px;
  font-weight: bold;
}

input {
  height: 25px;
  width: 200px;
  margin-bottom: 15px;
}

#cadastrar{
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-top: 12px;
  width: 150px;
  height: 30px;
  background-color: rgb(103, 247, 247);
  color:rgb(0, 74, 143);
  border-radius: 3px;
  margin-left: 30px;
}

table {
  border: 1px solid rgb(121, 121, 44);
  margin-top: 12px;
}

th, td {
  padding-inline: 12px;
}